{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <meta name="author" content="Dan Hedaiat"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.3/css/bootstrap.min.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
{% block headers %}
{% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert alert-{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}danger{% endif %}
alert-dismissible fade show"
                     role="alert">
                    <strong>{{ message.tags }}!</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endif %}
{% block body %}
{% endblock %}
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script type="application/javascript" src="{% static 'bootstrap-5.2.3/js/bootstrap.min.js' %}"></script>
<script type="application/javascript" src="{% static 'jquery.3.6.1.js' %}"></script>
{% block javascript %}
{% endblock %}
</html>