{% extends "base.html" %}
{% block title %}
    khobre Home
{% endblock %}
{% block headers %}
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
                <p class="h2 me-lg-auto">Library</p>
                <form action="" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark text-bg-dark"
                           onkeyup="search(this.value)" placeholder="Search...">
                </form>
                <div class="text-end">
                    <a href='{% url "Create user" %}' class="btn btn-warning me-2">Sing up</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <h2>All Books</h2>
        <div class="d-flex flex-row">
            <h4>filter:</h4>
            <input type="checkbox" class="btn-check" id="AvilableCheckbox" autocomplete="off">
            <label class="btn btn-outline-info mx-lg-4" for="AvilableCheckbox">Avilable</label>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Gener
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                        <input type="radio" name="generRadio" onclick="generCheck(null, this)" checked
                               class="btn-check gener-radio" id="----" autocomplete="off">
                        <label class="btn dropdown-item" for="----">----</label>
                    </li>
                    {% for gener in category %}
                        <li>
                            <input type="radio" name="generRadio" onclick="generCheck('{{ gener.id }}', this)"
                                   class="btn-check gener-radio" id="gener{{ forloop.counter }}" autocomplete="off">
                            <label class="btn dropdown-item" for="gener{{ forloop.counter }}">{{ gener }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-sm" id="table">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Authur</td>
                    <td>Gener</td>
                    <td>PEGI</td>
                    <td>Avilable</td>
                </tr>
                </thead>
                <tbody id="#table-tbody">
                {% include 'table.html' %}
                </tbody>
            </table>
            {% if not books %}
                <p class="align-content-lg-center align-items-center text-center text-muted h1">There is no book to
                    show!</p>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>

        let category = "";

        function generCheck(value, self) {
            category = value;
            const items = document.querySelectorAll('.dropdown-item');
            items.forEach(item => {
                item.style.backgroundColor = '#0000';
            });

            $("label[for='" + self.id + "']").css("background-color", '#00682d');
            filterApi();
        }

        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });

        $("#AvilableCheckbox").change(function () {
            filterApi();
        });

        function filterApi() {
            if ($("#AvilableCheckbox:checked").val()) {

                var rented = $("#AvilableCheckbox:checked").val();
            } else {
                rented = null;
            }
            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: {% url 'Home' %},
                type: 'post',
                data: {"rented": rented, "category": category},
                dataType: 'json',
                success: function (data) {
                    $("#table tbody").html(data.content);
                }

            })
        };

        function search(val) {
            console.log(val);
            $.ajax({
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: {% url 'Search' %},
                type: 'post',
                data: {"name": val},
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $("#table tbody").html(data.content);
                }

            })
        }
    </script>
{% endblock %}